.counter {
    border: 1px solid blue;
    max-width: 600px;
    margin: auto;
    margin-top: 15px;
    padding: 30px;
}

.counter button {
    background-color: blue;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
}

.counter button:hover {
    background-color: rgb(52, 52, 252);
}